Repository lundegaard/redux-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

.lintstagedrc:

{
	"**/*.js": [
		"prettier --ignore-path .gitignore --write",
		"yarn lint --fix",
		"git add"
	],
	"**/*.{mdx,md,html,json}": [
		"prettier --write",
		"git add"
	]
}

Update docs/packages/actions.md
  docs/packages/actions.md
Due: prettier --write

Update packages/actions/src/makeBinaryActionCreator.js
  packages/actions/src/makeBinaryActionCreator.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#138 Move alwaysUndefined to separate file, refactor invariant
  packages/actions/src/alwaysUndefined.js
  packages/actions/src/makeActionCreator.js
  packages/actions/src/makeActionCreator.test.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makeSimpleActionCreator.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#138 Rename makeBinaryActionCreator to makePayloadMetaActionCreator
  docs/packages/actions.md
  packages/actions/src/index.js
  packages/actions/src/makeBinaryActionCreator.test.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Rename makeActionCreator to configureActionCreator
  docs/packages/actions.md
  packages/actions/src/configureActionCreator.js
  packages/actions/src/configureActionCreator.test.js
  packages/actions/src/index.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/actions/src/makeSimpleActionCreator.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Update changelog
  CHANGELOG.md
Due: prettier --write

#138 Update documentation and tests
  docs/packages/actions.md
  packages/actions/src/configureActionCreator.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makeConstantActionCreator.test.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.test.js
  packages/actions/src/makeSimpleActionCreator.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Rename makeSimpleActionCreator to makePayloadActionCreator
  CHANGELOG.md
  docs/packages/actions.md
  packages/actions/src/configureActionCreator.js
  packages/actions/src/index.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makePayloadActionCreator.js
  packages/actions/src/makePayloadActionCreator.test.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Rename makeConstantActionCreator to makeEmptyActionCreator
  CHANGELOG.md
  docs/getting-started/quick-start.md
  docs/packages/actions.md
  docs/tutorial/02-namespacing.md
  packages/actions/src/configureActionCreator.js
  packages/actions/src/index.js
  packages/actions/src/makeConstantActionCreator.test.js
  packages/actions/src/makeEmptyActionCreator.js
  packages/actions/src/makeEmptyActionCreator.test.js
  packages/actions/src/makePayloadActionCreator.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Reexport makeEmptyActionCreator and makePayloadActionCreator
  docs/getting-started/quick-start.md
  docs/tutorial/02-namespacing.md
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

Update packages/actions/src/configureActionCreator.js
  packages/actions/src/configureActionCreator.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Update packages/actions/src/makeEmptyActionCreator.js
  packages/actions/src/makeEmptyActionCreator.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Update packages/actions/src/makePayloadMetaActionCreator.test.js
  packages/actions/src/makePayloadMetaActionCreator.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#138 Fix exports
  docs/packages/actions.md
  packages/actions/src/configureActionCreator.js
  packages/actions/src/index.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.test.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

Update packages/actions/src/makePayloadActionCreator.js
  packages/actions/src/makePayloadActionCreator.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Refactor action creators (#144)
  CHANGELOG.md
  docs/getting-started/quick-start.md
  docs/packages/actions.md
  packages/actions/package.json
  packages/actions/src/alwaysUndefined.js
  packages/actions/src/configureActionCreator.js
  packages/actions/src/configureActionCreator.test.js
  packages/actions/src/index.js
  packages/actions/src/makeActionCreator.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makeConstantActionCreator.test.js
  packages/actions/src/makeEmptyActionCreator.js
  packages/actions/src/makeEmptyActionCreator.test.js
  packages/actions/src/makePayloadActionCreator.js
  packages/actions/src/makePayloadActionCreator.test.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.test.js
  packages/actions/src/makeSimpleActionCreator.js
  packages/actions/src/makeSimpleActionCreator.test.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#107 Fix makeReducer to use second argument in case of missing third one
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#109 Add support for predicates and arrays of action types
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#107 Update changelog
  CHANGELOG.md
  packages/reducers/src/makeReducer.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

Fix makeReducer to use second argument in case of missing third one (#146)
  CHANGELOG.md
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

Update packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#109 Update changelog
  CHANGELOG.md
Due: prettier --write

#109 Update tests
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

109 Add invalid action type condition handling
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#109 Fix changelog
  CHANGELOG.md
Due: prettier --write

#109 Fix createTypeEqualsPredicate and tests
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Add support for predicates and arrays of action types (#147)
  CHANGELOG.md
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#139 Add mapProps
  packages/utils-react/src/index.js
  packages/utils-react/src/mapProps.js
  packages/utils-react/src/mapProps.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#139 Fix overriding of decorators
  CHANGELOG.md
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/namespacedConnect.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

minor docs improvements
  .eslintrc.js
  CHANGELOG.md
  docs/_sidebar.md
  docs/getting-started/examples.md
  docs/getting-started/quick-start.md
  docs/packages/actions.md
  docs/packages/namespaces-react.md
  docs/tutorial/02-namespacing.md
  packages/actions/src/makeEmptyActionCreator.js
  packages/actions/src/makePayloadActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/utils/src/withoutOnce.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

update isGlobal removal
  .lintstagedrc
  docs/getting-started/quick-start.md
  docs/packages/epics-react.md
  docs/packages/middleware-react.md
  docs/packages/reducers-react.md
  docs/tutorial/01-dependency-injection.md
  docs/tutorial/02-namespacing.md
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

add isGlobal:true removal to changelog
  CHANGELOG.md
Due: prettier --write

minor updates regarding isGlobal: true removal
  CHANGELOG.md
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write
