Repository lundegaard/redux-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

stop cleaning up state which should be left intact
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

update changelog
  CHANGELOG.md
Due: prettier --write

v0.8.1
  lerna.json
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces/package.json
  packages/react/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
Due: prettier --write

improve dependency versions
  CHANGELOG.md
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces/package.json
  packages/react/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

v0.8.2
  lerna.json
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces/package.json
  packages/react/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
Due: prettier --write

Delete greenkeeper.json
  greenkeeper.json
Due: prettier --write

#110 Add namespaces-react package
  docs/_sidebar.md
  docs/getting-started/introduction.md
  docs/tutorial/02-namespacing.md
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics-react/src/index.js
  packages/injectors-react/package.json
  packages/injectors-react/src/index.js
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeDecorator.test.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/middleware-react/package.json
  packages/middleware-react/src/index.js
  packages/namespaces-react/package.json
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
  packages/namespaces-react/src/contexts.js
  packages/namespaces-react/src/contexts.test.js
  packages/namespaces-react/src/index.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/namespacedConnect.test.js
  packages/namespaces-react/src/useNamespace.js
  packages/namespaces-react/src/useNamespace.test.js
  packages/reducers-react/package.json
  packages/reducers-react/src/index.js
  packages/reducers/package.json
  packages/thunk/package.json
  rollup.config.js
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#110 Move makeReducer to reducers
  docs/packages/reducers.md
  packages/actions/src/index.js
  packages/reducers/src/index.js
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#110 Move getStateByNamespace, getStateByAction to namespaces
  packages/namespaces/src/getStateByAction.js
  packages/namespaces/src/getStateByAction.test.js
  packages/namespaces/src/getStateByNamespace.js
  packages/namespaces/src/getStateByNamespace.test.js
  packages/namespaces/src/index.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#110 Fix tests
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeDecorator.test.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/namespaces-react/src/namespacedConnect.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#110 Fix dependencies
  packages/epics-react/package.json
  packages/middleware-react/package.json
  packages/namespaces-react/package.json
  packages/namespaces/src/getStateByAction.js
  packages/namespaces/src/getStateByAction.test.js
  packages/namespaces/src/getStateByNamespace.js
  packages/namespaces/src/getStateByNamespace.test.js
  packages/react/package.json
  packages/reducers/package.json
  packages/thunk/package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#110 Update documentation
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/middleware-react.md
  docs/packages/namespaces-react.md
  docs/packages/namespaces.md
  docs/packages/reducers-react.md
  docs/packages/reducers.md
Due: prettier --write

#110 Fix namespaces-react docs
  docs/packages/namespaces-react.md
Due: prettier --write

#110 Update reducers docs
  docs/packages/reducers.md
Due: prettier --write

#110 Fix dependencies
  packages/namespaces-react/package.json
  packages/reducers-react/package.json
Due: prettier --write

#110 Remove reexport
  packages/reducers/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#110 Update pre-push hook
  .huskyrc
Due: none

#110 Update dependencies
  packages/middleware/src/makeEnhancer.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/stream-creators/src/streamCreators.js
  packages/stream-creators/src/streamCreators.test.js
  packages/thunk/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#110 Fix test
  packages/stream-creators/src/streamCreators.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#110 Move namespacedConnect docs
  docs/packages/namespaces-react.md
  docs/packages/reducers-react.md
Due: prettier --write

#110 Update faq-general
  docs/faq/general.md
Due: prettier --write

Update changelog with namespaces-react
  CHANGELOG.md
Due: prettier --write

improve build speed and prototyping with unpkg
  rollup.config.js
  rollup/plugins.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

add hooks plugin and import order to eslint config
  .eslintrc.js
  package.json
  packages/actions/src/isNotErrorAction.js
  packages/actions/src/makeActionCreator.test.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makeSimpleActionCreator.js
  packages/epics/src/makeEnhancer.js
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeDecorator.test.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/injectors/src/createEntries.js
  packages/injectors/src/createEntries.test.js
  packages/injectors/src/enhanceStore.js
  packages/injectors/src/enhanceStore.test.js
  packages/middleware/src/makeEnhancer.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/namespacedConnect.test.js
  packages/namespaces-react/src/useNamespace.js
  packages/namespaces-react/src/useNamespace.test.js
  packages/namespaces/src/getStateByAction.js
  packages/namespaces/src/getStateByAction.test.js
  packages/namespaces/src/getStateByNamespace.js
  packages/namespaces/src/getStateByNamespace.test.js
  packages/reducers/src/combineReducerEntries.js
  packages/reducers/src/combineReducerEntries.test.js
  packages/reducers/src/combineReducers.js
  packages/reducers/src/combineReducers.test.js
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.js
  packages/reducers/src/makeReducer.js
  packages/stream-creators/src/streamCreators.js
  packages/stream-creators/src/streamCreators.test.js
  packages/thunk/src/index.js
  packages/thunk/src/index.test.js
  rollup.config.js
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

order imports alphabetically
  .eslintrc.js
  packages/epics/src/makeEnhancer.js
  packages/epics/src/makeEnhancer.test.js
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeDecorator.test.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/injectors/src/createEntries.test.js
  packages/injectors/src/enhanceStore.js
  packages/injectors/src/makeStoreInterface.js
  packages/middleware-react/src/index.js
  packages/middleware/src/makeEnhancer.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
  packages/namespaces-react/src/contexts.js
  packages/namespaces-react/src/namespacedConnect.test.js
  packages/namespaces-react/src/useNamespace.js
  packages/namespaces-react/src/useNamespace.test.js
  packages/reducers-react/src/index.js
  packages/reducers/src/combineReducerEntries.js
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeReducer.js
  packages/stream-creators/src/streamCreators.js
  packages/thunk/src/index.test.js
  packages/utils-react/src/withProps.js
  packages/utils-react/src/withProps.test.js
  rollup.config.js
  rollup/plugins.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

minor improvements in landing docs
  README.md
  docs/getting-started/introduction.md
Due: prettier --write

120 Implement preventNamespace
  docs/packages/namespaces.md
  package.json
  packages/namespaces/src/constants.js
  packages/namespaces/src/index.js
  packages/namespaces/src/isActionFromNamespace.js
  packages/namespaces/src/isActionFromNamespace.test.js
  packages/namespaces/src/preventNamespace.js
  packages/namespaces/src/preventNamespace.test.js
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#120 Move defaultNamespace and mergeNamespace to separate files
  packages/namespaces/src/attachNamespace.js
  packages/namespaces/src/attachNamespace.test.js
  packages/namespaces/src/defaultNamespace.js
  packages/namespaces/src/defaultNamespace.test.js
  packages/namespaces/src/index.js
  packages/namespaces/src/mergeNamespace.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#120 Update constants snapshot
  packages/namespaces/src/__snapshots__/constants.test.js.snap
Due: none

#120 Update documentation
  CHANGELOG.md
  VERSION_LOCKS.md
  docs/packages/namespaces.md
  packages/namespaces/src/__snapshots__/constants.test.js.snap
  packages/namespaces/src/constants.js
  packages/namespaces/src/isActionFromNamespace.js
  packages/namespaces/src/isActionFromNamespace.test.js
  packages/namespaces/src/preventNamespace.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#88 Remove isGlobal: true requirement
  .lintstagedrc
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
  packages/namespaces-react/src/contexts.js
  packages/namespaces-react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

# 138 Refactor actions module
  docs/packages/actions.md
  packages/actions/package.json
  packages/actions/src/index.js
  packages/actions/src/makeActionCreator.js
  packages/actions/src/makeBinaryActionCreator.js
  packages/actions/src/makeBinaryActionCreator.test.js
  packages/actions/src/makeConstantActionCreator.js
  packages/actions/src/makeConstantActionCreator.test.js
  packages/actions/src/makeSimpleActionCreator.js
  packages/actions/src/makeSimpleActionCreator.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

#138 Fix makeActionCreator test
  packages/actions/src/makeActionCreator.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

#141 Add withnamespaceProvider
  packages/namespaces-react/src/index.js
  packages/namespaces-react/src/withNamespaceProvider.js
  packages/namespaces-react/src/withNamespaceProvider.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Update docs/packages/actions.md
  docs/packages/actions.md
Due: prettier --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.js
  yarn lint --fix: any of: **/*.js
  prettier --write: any of: **/*.{mdx,md,html,json}
